<footer id="footer">
	<ul class="icons">
		<li><a href="{{ site.supported_by.url_ehrensache }}" class="img"><img src="/images/ehrensache_siegel_100px.png"></a></li>
	</ul>
	<ul class="icons">
		<!-- GitHub -->
			<li><a href="https://github.com/{{ site.community.github }}" class="icon"><i class="fa fa-github fa-2x"></i><span class="label">Github</span></a></li>
		<!-- Matrix -->
			<li><a href="https://matrix.to/#/{{ site.community.matrix }}" class="icon"><i class="fa fa-comments-o fa-2x"></i><span class="label">Matrix</span></a></li>
		<!-- Fediverse -->
			<li><a href="https://pleroma.envs.net/{{ site.community.fediverse }}" class="icon"><i class="fa fa-newspaper-o fa-2x"></i><span class="label">Fediverse</span></a></li>
		<!-- Facebook -->
			<li><a href="https://www.facebook.com/{{ site.community.facebook }}" class="icon"><i class="fa fa-facebook fa-2x"></i><span class="label">Facebook</span></a></li>
		<!-- Instagram -->
			<li><a href="https://www.instagram.com/{{ site.community.instagram }}" class="icon"><i class="fa fa-instagram fa-2x"></i><span class="label">Instagram</span></a></li>
		<!-- Kalender -->
			<li><a href="{{ site.community.url_kalender }}" class="icon"><i class="fa fa-calendar fa-2x"></i><span class="label">Kalender</span></a></li>
		<!-- Wiki -->
			<li><a href="{{ site.community.url_wiki }}" class="icon"><i class="fa fa-pencil-square-o fa-2x"></i><span class="label">Wiki</span></a></li>
		<!-- API -->
			<li><a href="{{ site.community.url_api }}" class="icon"><i class="fa fa-connectdevelop fa-2x"></i><span class="label">API</span></a></li>
	</ul>
	<ul class="copyright">
		<li><a href="{{ "/impressum/" | prepend: site.baseurl }}">Impressum</a></li>
		<li><a href="{{ "/impressum/datenschutzerklaerung/" | prepend: site.baseurl }}">Datenschutz</a></li>
		<li><a href="{{ "/impressum/hauftungsausschluss/" | prepend: site.baseurl }}">Hauftungsausschluß</a></li>
		<li><a href="{{ "/kontakt/" | prepend: site.baseurl }}">Kontakt</a></li>
	</ul>
	<ul class="copyright">
		<li><a class="img" href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="/images/cc.png" alt="CC BY-SA 4.0"></a></li>
		<li>Design basierend auf <!--a href="https://html5up.net/"-->HTML5 UP<!--/a--></li>
		<li>Served by GitHub-Pages</li>
	</ul>
</footer>
